
.Container {
  height: 100vh;
  background-color: whitesmoke;
  width: 100vw;

}

.Container img {
  padding-top: 50px;


}

.Container h1 {
  padding-top: 50px;
  padding-left: 40px;
}

.Container h2 {
  font-size: 60px;
}

.jobPageInputContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;


}

.jobPageInputContainer input {
  background: transparent;
  padding: 10px;
  border: none;
}

.jobPageInputContainer input:nth-child(2) {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}

.BaseContainerrrr {
  height: 100vh;
  width: 100%;
  justify-content: space-evenly;
}

.firstContainer {
  display: flex;
  height: 60vh;
  justify-content: space-evenly;
}

.Firstgrid {
  height: 50vh;
  width: 500px;

  border-color: 10px black;
}

.Firstgrid h1 {
  font-size: 70px;
  padding-top: 0px;
  padding-right: 0px;
}

.button {
  background-color: chocolate;
  position: absolute;
  /* margin-left: 40px; */
}

.secondContainer {
  height: 50vh;
  width: 450px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* padding: 50px; */
}

/* .secondContainer :hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 2s ease-in-out;
  opacity: 0.8;
  color:chocolate; */


.secondContainer h1 {
  font-size: 30px;
  padding-top: 5px;
}

.secondContainer h2 {
  font-size: 45px;
  color: chocolate;
  margin: 10px;
}

.secondContainer img {
  position: absolute;
  height: 30vh;
  width: 280px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.thirdContainer {
  height: 50vh;
  width: 450px;
  border: 2px solid black;
  border-radius: 10px;
}

.thirdContainer h1 {
  font-size: 30px;
  padding-top: 5px;
}

.thirdContainer h2 {
  font-size: 45px;
  color: blueviolet;
  margin: 10px;
}

.thirdContainer img {
  position: absolute;
  height: 25vh;
  width: 280px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-right: 20px;
}

.ContentBaseeeContainer {
  height: 70vh;
  width: 100%;
  background-color: whitesmoke;
}

.Contentbox {
  display: flex;
  height: 60vh;
  justify-content: space-evenly;
}

.FirstContentbox {
  height: 50vh;
  width: 480px;
  border: 2px solid black;
  border-color: 10px black;
  border-radius: 10px;
}

.FirstContentbox h1 {
  font-size: 30px;
  padding-top: 5px;
}

.FirstContentbox h2 {
  font-size: 45px;
  color: darkblue;
  margin: 10px;
}

.FirstContentbox img {
  position: absolute;
  height: 28vh;
  width: 280px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-right: 20px;
}

.SecondContentbox {
  height: 50vh;
  width: 430px;
  gap: 20px;
  border: 2px solid rgb(15, 10, 16);
  border-radius: 10px;

}

.Secondbutton {
  background-color: rgb(119, 55, 198);
  position: absolute;
  margin-right: 40px;
  margin-top: 140px;
}

.Thirdbutton {
  background-color: blue;
  position: absolute;
  margin-right: 50px;
  margin-top: 140px;
  
}

.Fourthbutton {
  background-color: darkgreen;
  position: absolute;
  margin-left: 300px;
  margin-top: 140px;
  
}

.Fivebutton {
  background-color: deeppink;
  position: absolute;
  margin-left: 320px;
  margin-top: 140px;
  
}

.SecondContentbox h1 {
  font-size: 30px;
  padding-top: 5px;
}

.SecondContentbox h2 {
  font-size: 45px;
  color: darkgreen;
  margin: 10px;
}

.SecondContentbox img {
  position: absolute;
  height: 28vh;
  width: 280px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-right: 20px;
}

.ThirdContentbox {
  height: 50vh;
  width: 450px;
  border: 2px solid black;
  border-radius: 10px;
}

.ThirdContainer button {
  display: flex;
  /* margin-left: 20%;
  margin-top: 10%; */
}

.ThirdContentbox h1 {
  font-size: 30px;
  padding-top: 5px;
}

.ThirdContentbox h2 {
  font-size: 45px;
  color: deeppink;
  margin: 10px;
}

.ThirdContentbox img {
  position: absolute;
  height: 28vh;
  width: 340px;
  padding-left: px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 30px;
}

.LastContainer {
  height: 60vh;
  width: 150%;
  background-color:whitesmoke;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  overflow:visible;
}
.secondLastContainer{
   height: 50%;
   width: 100%;
   flex-direction: row;
   display: flex;

}
.khisjkasnkjs {
  height: 60vh;
  width: 430px;
  background-color: #001f2d;
  border: 2px solid darkslategrey;
  align-items: center;
  justify-content: center;

}

.khisjkasnkjs h1 {
  font-size: 35px;
  padding-top: 10px;
  color: whitesmoke;
}

.firsttext {
  height: 40vh;
  width: 300px;
  margin: 30px;
}

.firsttext h2 {
  font-size: 28px;
  color: white;
}

.ugyhgyg {
  height: 39vh;
  width: 450px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;

}
  

.ugyhgyg img{
  height:16vh;
  width:120px;
  padding-top: 8px;
}
.ugyhgyg h2{
  font-size: 25px;
}
.aloisl {
  height: 39vh;
  width: 480px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
}
.aloisl h2{
  font-size: 25px;
 
}
.aloisl img{
  height:16vh;
  width:150px;
  padding-top:2px;
}
.aloisl p{

margin: 3px;
}
.lkeojdwjokd{
  height: 39vh;
  width: 480px;
  border: 2px solid black;
  border-radius: 10px;
  margin:20px;
}
.lkeojdwjokd h1{

}
.lkeojdwjokd p{

}
.lkeojdwjokd h2{
  font-size: 25px;

}
.lkeojdwjokd img{
  height:16vh;
  width:150px;
  padding-top:0px;
}
.wjhudd{
  height: 39vh;
  width: 480px;
  border: 2px solid black;
  border-radius: 10px;
  margin:20px;
}
.wjhudd h2{
font-size: 25px;
}
.wjhudd img{
  height:16vh;
  width:150px;
  padding-top:2px;
}