.baseContainer{
    width:100%;
    height:100vh;
    padding-left: 20px;
    display:flex;
    background-size:contain;
    justify-content: center;
    align-items: center;
    background-color:var(--baseColor);
    
}

.baseContainer img{
    width:80%;
    background-repeat: repeat;
}